*{
 padding: 0;
 margin: 0;

 color: orange;
 background: rgb(27, 41, 59);
 font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding-top: 7px ;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 14px;
    
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase ;
}

nav a:hover{
    color: rgb(255, 238, 0);
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    
    background-color: orange ;
    
    position: absulute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;

}


.main-body-con{
    margin: 10px 3rem 10px 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: dotted;
    border: 1px orange solid;
}

.profile{
    text-align: center;
    margin: 10px 3rem 10px 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: dotted;
    border: 1px orange solid;
    
}

.profile-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;  
}

.profile-name{
    font-size: 2em;
    font-weight: bold;
}

.profile-title{
    margin-bottom: 1rem;
}

.profile-details{
    display: flex;
    align-items: center;
    justify-content: center;
}